<nav class="navbar navbar-expand-lg header-black">
    <div class="container-fluid">
      <a class="navbar-brand">Revistas en linea</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item text-center">
            <img src="/imagenes/file-earmark-arrow-up.svg" alt="revista" width="30" height="30">
            <a routerLink="/editor/subirRevista"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link active" aria-current="page">Subir Revista</a>
          </li>
          <li class="nav-item text-center">
            <img src="/imagenes/card-list.svg" alt="revista" width="30" height="30">
            <a class="nav-link" routerLink="/editor/revistasSubidas"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Gestion Revistas</a>
          </li>
          <li class="nav-item dropdown text-center">
            <img src="/imagenes/folder.svg" alt="revista" width="30" height="30">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Reportes
            </a>
            <div class="reporte">
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Reporte de comentarios</a></li>
              <li><a class="dropdown-item" href="#">Reporte de suscripciones</a></li>
              <li><a class="dropdown-item" href="#">Reporte de revistas mas gustadas</a></li>
              <li><a class="dropdown-item" routerLink="/editor/reportePago"  routerLinkActive="active">Reporte de pagos</a></li>
            </ul>
          </div>
          </li>
          <li class="nav-item text-center">
            <img src="/imagenes/bookmark.svg" alt="revista" width="30" height="30">
            <a class="nav-link" aria-disabled="true">Solicitud categorias</a>
          </li>
          <li class="nav-item text-center">
            <img src="/imagenes/cash-stack.svg" alt="revista" width="30" height="30">
            <a routerLink="/editor/recargarSaldo"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link" aria-disabled="true">Recargar Cartera</a>
          </li>
          <li class="nav-item text-center">
            <img src="/imagenes/person-circle.svg" alt="revista" width="30" height="30">
          <a routerLink="" routerLinkActive="active" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Actualizar Perfil
          </a>
          </li>
          <li class="nav-item text-center">
            <img src="/imagenes/box-arrow-in-right.svg" alt="revista" width="30" height="30">
          <a routerLink="" routerLinkActive="active" class="nav-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cerrar sesion
          </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>