<form
    class="row g-3 justify-content-center"
    [formGroup]="videoForm"
    novalidate
    (submit)="enviar($event)">

    <div class="col-md-12">
        <label for="video" class="form-label">Video del anuncio</label>
        <input
          type="url"
          class="form-control"
          id="video"
          formControlName="urlVideo"
        />
        <div
          *ngIf="hasErrors('video', 'required')"
          id="validationServer03Feedback"
          class="invalid-feedback"
        >
          Por favor ingrese una url de video para el anuncio.
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Actualizar Video</button>
</form>