@if(estado){
<div [ngClass]="{'centrar':!editar, 'centrar2':editar}">
  <div [ngClass]="{'card': !editar}">
    <div class="card-body text-center">
      @if(error){
      <h5 class="card-title">Error</h5>
      <p class="card-text">{{ mensaje }}</p>
      }
      <h5 class="card-title">Anuncio</h5>
      <p class="card-text">Precio: {{ anuncio.precio | currency : "Q" }}</p>
      <p class="card-text">Fecha de compra: {{ anuncio.fecha }}</p>
      <p class="card-text">Tipo de anuncio: {{ anuncio.tipo | tipoAnuncio }}</p>
      <p class="card-text">
        Vigencia del anuncio: {{ anuncio.vigencia | vigencia }}
      </p>
      <p class="card-text">ID del anuncio: {{ anuncio.id }}</p>
      @if(admin){
      <p class="card-text">Usuario que lo subio: {{ anuncio.nombreUsuario }}</p>
      } @switch (anuncio.tipo) { @case('TEXTO'){
      <p class="card-text">Texto: {{ anuncio.textoAnuncio }}</p>
      } @case('TEXTO_E_IMAGEN'){
      <app-imagen [id]="anuncio.id"></app-imagen>
      <p class="card-text">Texto: {{ anuncio.textoAnuncio }}</p>
      } @case('VIDEO'){
      <app-video [url]="anuncio.urlVideo"></app-video>
      } }
      @if(!editar){
        <button (click)="cancelar()"  class="btn btn-outline-success">Cancelar anuncio</button>
      @if(!admin){
      <a
        [routerLink]="['/anunciador/editarAnuncio/',anuncio.id]"
        class="btn btn-outline-primary"
        >Editar anuncio</a
      >
      }
      }
    </div>
  </div>
</div>
<router-outlet></router-outlet>
}
