/* You can add global styles to this file, and also import other style files */
.centrar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: aquamarine;
    padding-top: 10px;
    padding-bottom: 10px;
}

.centrar2{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text-white {
    color: white; /* Hace el texto blanco */
  }
  
.navbar-black {
    background-color: black;
}

.header-black {
    a {
        color: white; /* Hace el texto de los links blanco */
    }
    a:hover {
        color: brown; /* Hace el texto de los links aquamarine cuando se pasa el mouse */
    }
    a.active{
        color: aquamarine;
    }
    background-color: teal; /* Hace el fondo negro */
}

.reporte {
    ul {
        background-color: teal;
    }

    a:hover {
        background-color: aqua;
    }
}

html{
    background-color: aquamarine;
}

.alinear-izquierda {
    display: flex;
    justify-content: flex-start; /* Alinea a la izquierda */
    /* justify-content: flex-end; */ /* Alinea a la derecha */
  }

  .alinear-derecha {
    display: flex;
    justify-content: flex-end;
  }
